.title-section {
  background-color: #559575;
  color: white;
  font-size: 20px;
}

.f14 {
  font-size: 12px;
}

.subtitle {
  color: #BB141A;
  text-transform: uppercase;
  font-size: 24px;
}

.btn-general {
  text-align: center;
  background-color: #777777;
  color: white;
  border: 1px solid #777777;
 
  font-size: 18px;
  height: 40px;
  width: 35px;
}

.btn-subt {
  text-align: center;
  background-color: #B7B7B7;
  color: white;
  border: 1px solid #B7B7B7;
  height: 40px;
  width: 35px;
  font-size: 18px;
}

.border-bot {
  border-bottom: 1px solid #B7B7B7;
  height: 10px;
  width: 100%;
}

.btn-confirm {
  background-color: #BB141A;
  color: white;
  font-size: 20px;
}

.back {
  color: #559575;
}

.btn-confirm-pizza {
  background-color: #559575;
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
}

.container-bigpizza{
  color: #898989;
}

.name-product{
  font-size: 17px;
  font-weight: 500;
}

textarea{
  width: 100%;
  height: auto;
  border: none;
  outline: none;
  

}

.detail-css{
  border: 2px solid #559575;
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
}